.event-card-container {
  @apply flex flex-col
  text-(--purple) font-(family-name:--paragraph-font)
  md:flex-row;
}

.event-card-left {
  @apply flex items-center justify-center
  font-(family-name:--main-font) font-bold
  bg-(--purple) text-(--white)
  px-2 py-3
  md:py-0 md:px-1.5;
}

.event-card-right {
  @apply flex flex-col gap-2
  px-2 py-3
  overflow-hidden

  md:flex-row md:flex-[1_0] md:justify-between
  md:px-1 md:py-2;
}
