@import "tailwindcss";
@import "./theme/colors.css";
@import "./theme/fonts.css";

html.light {
  --fgcolor: var(--light-fg);
  --fgcolor-faded: var(--light-faded);
  --bgcolor: var(--light-bg);
  --cardcolor-odd: var(--light-card-bg-odd);
  --cardcolor-even: var(--light-card-bg-even);
}

html.dark {
  --fgcolor: var(--dark-fg);
  --fgcolor-faded: var(--dark-faded);
  --bgcolor: var(--dark-bg);
  --cardcolor-odd: var(--dark-card-bg-odd);
  --cardcolor-even: var(--dark-card-bg-even);
}
