= turbo_frame_tag @event

  = form_with model: @event,
    method: :patch,
    data: {controller: "events-form",
           action: "click@window->events-form#handleVenueDropdownFocusOut"} do |form|

    li.relative[
      data-events-form-target="eventFields"
      data-controller="event-fields"
      data-event-fields-start-value=(@event.js_parsable_date if @event.date)
      data-event-fields-time-value=(@event.js_parsable_time if @event.time)
      data-event-fields-unique-event-value=true
    ]
  
      = render "form_fields", event: @event, for_params: @event

      div.md:absolute.md:right-2.md:bottom-2.flex.gap-1.items-center.justify-center.mt-2
        = link_to "Annuler", @event, class: "btn"
        = form.submit "OK", class: "btn btn-plain"
