@layer base {
  html {
    accent-color: var(--color-yellow);
    color-scheme: light;
    --blue: var(--light-fg);
    --blue-faded: var(--light-faded);
    --bg-light: var(--light-bg);
    --white: var(--light-white);
  }

  /* html.dark { */
  /*   color-scheme: dark; */
  /*   --blue: var(--dark-fg); */
  /*   --blue-faded: var(--dark-faded); */
  /*   --bg-light: var(--dark-bg); */
  /* } */

  body {
    font-family: var(--font-base);
    color: var(--color-blue);
    background-color: var(--color-bg-light);
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
  }

  a,
  button,
  input[type=button],
  label[for] {
    cursor: pointer;
  }
  
  p a {
    text-decoration: underline;
    text-decoration-style: dotted;
    
    &:hover {
      @apply text-yellow;
    }
  }

  .field_with_errors input,
  .field_with_errors textarea {
    @apply w-full border-2 border-orange;
  }

  input,
  textarea {
    border: 2px solid var(--color-blue-faded);
    border-radius: var(--radius-sm);
    padding-inline: calc(var(--spacing) * 1.5);
    padding-block: calc(var(--spacing) * 0.5);
    font-family: var(--font-paragraph);

    &:focus{
      outline: none;
      border-color: var(--color-yellow);
    }

    &:disabled {
      @apply bg-yellow-faded;
    }

    &::placeholder {
      font-style: italic;
      line-height: var(--tw-leading, var(--text-sm--line-height));
      color: var(--color-blue-faded);
    }
  }
}
