@layer base {
  html {
    accent-color: var(--color-baro-yellow);
    color-scheme: light;
    --fgcolor: var(--light-fg);
    --fgcolor-faded: var(--light-faded);
    --bgcolor: var(--light-bg);
    --cardcolor-odd: var(--light-card-bg-odd);
    --cardcolor-even: var(--light-card-bg-even);
    --cardcolor: var(--light-card-bg);
  }

  /* html.dark { */
  /*   color-scheme: dark; */
  /*   --fgcolor: var(--dark-fg); */
  /*   --fgcolor-faded: var(--dark-faded); */
  /*   --bgcolor: var(--dark-bg); */
  /*   --cardcolor-odd: var(--dark-card-bg-odd); */
  /*   --cardcolor-even: var(--dark-card-bg-even); */
  /* } */

  body {
    font-family: var(--font-quicksand);
    color: var(--color-fgcolor);
    background-color: var(--color-bgcolor);
    max-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
  }

  a,
  button,
  input[type=button],
  label[for] {
    cursor: pointer;
  }
  
  p a {
    text-decoration: underline;
    text-decoration-style: dotted;
    
    &:hover {
      @apply text-baro-yellow;
    }
  }

  .field_with_errors input,
  .field_with_errors textarea {
    @apply w-full border-2 border-baro-orange;
  }

  input,
  textarea {
    border: 2px solid var(--color-fgcolor-faded);
    border-radius: var(--radius-sm);
    padding-inline: calc(var(--spacing) * 1.5);
    padding-block: calc(var(--spacing) * 0.5);
    font-family: var(--font-source);

    &:focus {
      outline: none;
      border-color: var(--color-baro-yellow);
    }

    &:disabled {
      @apply bg-baro-yellow-faded;
    }

    &::placeholder {
      font-style: italic;
      line-height: var(--tw-leading, var(--text-sm--line-height));
      color: var(--color-fgcolor-faded);
    }
  }
}
