@layer components {
  .btn {
    --btn-padding-x: calc(var(--spacing) * 3);

    height: fit-content;
    border: 3px solid var(--color-fgcolor);
    border-radius: var(--radius-lg);
    line-height: var(--tw-leading), var(--text-lg--line-height);
    padding-inline: var(--btn-padding-x);
    cursor: pointer;
    transition-property: background-color, color;
    transition-duration: 80ms;
    transition-timing-function: ease-in-out;

    input[type=checkbox],
    input[type=radio] {
      display: none;
    }

    &:has(label + input) {
      padding: 0;

      label {
        padding-inline: var(--btn-padding-x);
        display: block;
        width: 100%;
        height: 100%;
      }
    }

    &:hover,
    &:has(input:checked):hover {
      border-color: var(--color-baro-yellow);
      /*background-color: var(--color-fgcolor-faded);*/
      /*color: var(--color-bgcolor);*/
    }

    &:has(input:checked) {
      color: var(--color-bgcolor);
      background-color: var(--color-fgcolor);
    }
  }
}
