@utility event-day-sm {
  @layer components {
    @apply !rounded-none !overflow-visible;

    .day-separator {
      @apply !block !pl-0 sticky top-0 !rounded-none;

      h3 {
        @apply text-center;
      }
    }

    .md-icons-container {
      @apply !hidden;
    }
  }
}

@layer components {
  .event-day {
    @apply max-md:event-day-sm
    @max-3xl/main:event-day-sm;

    .day-separator {
      @apply flex
      mb-1 pl-14 py-1.5
      bg-blue
      rounded-t-lg;

      h3 {
        @apply flex-[1_0_44.5%]
        text-bg-light text-lg font-bold;
      }
    }

    .md-icons-container {
      @apply flex items-center flex-[0_1_55.5%];

      svg {
        @apply h-5 fill-bg-light;
      }
    }

    .events-list {
      @apply flex flex-col gap-1;

      turbo-frame:last-child .md-hour {
        @apply rounded-bl-lg;
      }
    }
  }
}
