@layer components {
  .event-day {
    @apply overflow-hidden
    @max-3xl:rounded-none
    @3xl:rounded-lg;

    .day-separator {
      @apply py-1.5 mb-1 bg-fgcolor
      @3xl:flex pl-14;

      h3 {
        @apply text-bgcolor text-lg font-bold
        @max-3xl:text-center
        @3xl:flex-[1_0_44.5%];
      }
    }

    .md-icons-container {
      @apply @max-3xl:hidden
      @3xl:flex @3xl:items-center @3xl:flex-[0_1_55.5%];
      svg {
        @apply h-5 fill-bgcolor;
      }
    }

    .events-list {
      @apply flex flex-col gap-4
      @3xl:gap-1;
    }
  }
}
