@layer components {
  .event-card {
    @apply flex
    text-blue font-paragraph;

    .event-card-main {
      @apply flex gap-1
      overflow-hidden;
    }

    .name-desc-ctn {
      @apply flex-[0_1_45%] p-1 overflow-hidden;

      .name {
        @apply font-title text-xl
        text-ellipsis overflow-hidden whitespace-nowrap;
      }
      .description {
        @apply text-sm italic text-blue-faded
        text-ellipsis overflow-hidden whitespace-nowrap;
      }
    }

    address {
      @apply flex justify-between items-center overflow-hidden;
    }

    .venue-name-address-ctn {
      @apply overflow-hidden;
    }

    .venue-name {
      @apply font-bold not-italic text-lg
      text-ellipsis overflow-hidden whitespace-nowrap;
    }

    .venue-city {
      @apply not-italic font-bold;
    }

    @container main (width < 48rem) {
      @apply flex-col;

      .md-hour {
        display: none;
      }

      .event-card-main {
        @apply flex-col
        px-4 pt-3 pb-6;
      }

      .sm-hour {
        @apply flex items-center justify-between
        text-blue-faded;
      }

      .venue-name-address-ctn {
        @apply flex items-center gap-1;
      }

      .md-venue-address {
        display: none;
      }

      .venue-city {
        @apply flex-[0_1_30%] text-right;
      }

      .md-tarif {
        display: none;
      }
    }

    @container main (width >= 48rem) {
      @apply flex-row;

      .md-hour {
        @apply flex items-center justify-center
        w-13
        font-base font-bold
        bg-blue text-light;
      }

      .event-card-main {
        @apply flex-row flex-[2_0] justify-between
        px-1 py-3;
      }

      .sm-hour {
        display: none;
      }

      address {
        @apply flex-[0_1_45%];
      }

      .venue-name-address-ctn {
        display: block;
      }

      .venue-name {
        @apply no-underline;
      }

      .md-venue-address {
        @apply text-blue-faded underline decoration-dotted
        text-ellipsis overflow-hidden whitespace-nowrap;
      }

      .venue-city {
        @apply flex-[0_1_40%]
      text-left;
      }

      .md-tarif {
        @apply flex-[0_1_10%]
        flex justify-center items-center
        overflow-hidden
        p-1;

        p {
          @apply italic text-blue-faded
          text-ellipsis overflow-hidden whitespace-nowrap;
        }
      }
    }
  }
}
