@layer components {
  .search-bar {
    height: fit-content;
    display: flex;
    border: 3px solid var(--color-fgcolor);
    border-radius: var(--radius-xl);
    overflow: hidden;
    transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 150ms;

    &:focus-within {
      border-color: var(--color-baro-yellow);

      button {
        background-color: var(--color-baro-yellow);
      }
    }

    input {
      border: none;
      flex-grow: 1;
      min-width: calc(var(--spacing) * 10);
      padding-inline: calc(var(--spacing) * 3) calc(var(--spacing) * .5);
      padding-block: var(--spacing);
      font-family: var(--font-quicksand);
    }

    button {
      border: none;
      border-radius: unset;
      padding-inline: calc(var(--spacing) * 3) calc(var(--spacing) * 2.5);
      background-color: var(--color-fgcolor);
      transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 150ms;
    }

    svg {
      height: calc(var(--spacing) * 5);
      fill: var(--color-bgcolor);
    }
  }
}
