:root {
  --paragraph-font: "serif";
  --main-font: "sans serif";

  --large-font: 14pt;
  --medium-font: 12pt;
  --small-font: 11pt;
}

.bold { font-weight: bold }
.italic { font-style: italic }
.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.large { font-size: var(--large-font) }
.medium { font-size: var(--medium-font) }
.small { font-size: var(--small-font) }

.black { color: var(--black) }
.purple { color: var(--purple) }
.gray { color: var(--gray) }

.faded { opacity: .64 }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
