@font-face {
  font-family: Quicksand;
  src: url("/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url("/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("/SourceSans3-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("/SourceSans3-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}


:root {
  --main-font: Quicksand;
  --title-font: Lato;
  --paragraph-font: "Source Sans 3";

  --large-font: 15pt;
  --medium-font: 12.5pt;
  --small-font: 11.5pt;
}

.title {
  font-family: var(--title-font);
  letter-spacing: .2pt;
}
.paragraph { font-family: var(--paragraph-font) }

.bold { font-weight: bold }
.italic { font-style: italic }
.dotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.large { font-size: var(--large-font) }
.medium { font-size: var(--medium-font) }
.small { font-size: var(--small-font) }

.black { color: var(--black) }
.purple { color: var(--purple) }
.gray { color: var(--gray) }

.faded { opacity: .64 }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
