:root {
  /* Light theme */
  --light-bg: rgba(234, 227, 210, 1);
  --light-fg: rgba(2, 0, 100, 1);
  --light-faded: rgba(2, 0, 100, .5);
  --light-white: rgba(244, 241, 232, 1);

  /* Dark theme */
  /* --dark-bg: #181221; */
  /* --dark-fg: #d4c8a9; */
  /* --dark-faded: rgba(212, 200, 169, .6); */
}

@theme {
  /* overrides default colors */
  --color-*: initial;

  --color-orange: #EB5B00;
  --color-yellow: rgb(255, 178, 0);
  --color-yellow-faded: rgba(255, 178, 0, .25);

  --color-blue: var(--blue);
  --color-blue-faded: var(--blue-faded);
  --color-light: var(--light);
  --color-white: var(--white);
}
