@font-face {
  font-family: Quicksand;
  src: url("/Quicksand-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Lato;
  src: url("/Lato-BlackItalic.ttf") format("truetype");
  font-weight: 900;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("/SourceSans3-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Source Sans 3";
  src: url("/SourceSans3-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@theme {
  --font-*: initial;
  --font-quicksand: Quicksand;
  --font-lato: Lato;
  --font-source: "Source Sans 3";
}
